<!--
  @Name: views/admin/images/new.html.erb
  @Use:  This is a partial html page for form of creating and saving an image
  @Created date: 24-07-2012
  @Modified Date: 24-07-2012
  @Company:  Mindfire Solutions
-->
<h1>New Image</h1>

<!-- Render form for taking inputs -->
<%= render 'form' %>


